{% extends 'editor/base.html' %}
{% block content %}
    <div class="container">
        {% if post %}
            <img src='/{{ post.image.url }}' class="img-fluid rounded" height=70% width=70%/>
            <form action="{% url 'edit' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <div>
                        <div class="form-group">
                            <label for="resize-height">Height: <input id="resize-height" type="number"
                                                                      name="resize-height"
                                                                      class="form-control"
                                                                      placeholder="max: {{ post.image.height }}"
                                                                      max="{{ post.image.height }}">
                            </label>
                            <label for="resize-width">Width: <input id="resize-width" type="number" name="resize-width"
                                                                    class="form-control"
                                                                    placeholder="max: {{ post.image.width }}"
                                                                    max="{{ post.image.width }}">
                            </label>
                            <input type="submit" name="resize" class="btn btn-dark" value="Resize">
                        </div>
                        <div class="form-group">
                            <label for="rotate-angle">Rotation Angle: <input id="rotate-angle" type="number"
                                                                             name="rotate-angle" class="form-control"
                                                                             placeholder="0.0">
                            </label>
                            <input type="submit" name="rotate" class="btn btn-dark" value="Rotate">
                        </div>
                        <div class="form-group">
                            <label for="crop-left">Left: <input id="crop-left" type="number" name="crop-left"
                                                                class="form-control" placeholder="0">
                            </label>
                            <label for="crop-upper">Upper: <input id="crop-upper" type="number" name="crop-upper"
                                                                  class="form-control" placeholder="0">
                            </label>
                            <label for="crop-right">Right: <input id="crop-right" type="number" class="form-control"
                                                                  name="crop-right"
                                                                  placeholder="max: {{ post.image.height }}"
                                                                  max="{{ post.image.height }}">
                            </label>
                            <label for="crop-lower">Lower: <input id="crop-lower" type="number" class="form-control"
                                                                  name="crop-lower"
                                                                  placeholder="max: {{ post.image.width }}"
                                                                  max="{{ post.image.width }}">
                            </label>
                            <input type="submit" name="crop" class="btn btn-dark" value="Crop">
                        </div>
                        <div class="form-group">
                            <input type="submit" name="BAW" class="btn btn-dark" value="Black and White">
                        </div>
                        {#                    <div></div>#}
                        <div class="form-group">
                            <input type="submit" name="share" class="btn btn-dark" value="Share!!">
                            <input type="submit" name="done" class="btn btn-dark" value="Done!!">
                        </div>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock content %}
