{% extends 'editor/base.html' %}
{% block content %}
    <form class="md-form" action="{% url 'upload_img' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group">
            <div class="custom-file">
                <input type="file" id="imgToUpload" class="form-control-file" name="imgToUpload">
                <label class="custom-file-label" for="imgToUpload">Click Here to Choose File</label>
            </div>
            <div class="input-group-append">
                <button type="submit" class="btn btn-dark" name="submit" font-size="0.65rem">
                    <i class="fa fa-upload input-group-text" aria-hidden="true" ></i>
                </button>
            </div>
        </div>
    </form>
{% endblock content %}
