<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% if title %}
        <title>Borna's Editor - {{ title }}</title>
    {% else %}
        <title>Borna's Editor</title>
    {% endif %}
</head>
<body>
<form action="{% url 'upload_img' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
        <input id="imgToUpload" type="file" class="" name="imgToUpload">
    </p>
    <input type="submit" value="Upload Img" name="submit">
</form>
</body>
</html>

